.bg_col {
  background-color: rgb(127, 140, 255);
}

.bg_color {
  background-color: aquamarine;
  border: 1px solid black;
}

.center {
  text-align: center;
  display: flex;
}

.cen_ter {
  text-align: center;
  display: flex;
  text-transform: uppercase;
}

.flex {
  text-align: center;
}

h1 {
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#navbarNav {
  justify-content: end;
}

.bg_dark {
  background-color: #2c3e50;
}

.bg_light {
  background-color: #3a546d;
}

.blue {
  color: #2c3e50;
}

.nav-link,
.title {
  color: white !important;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-light,
.navbar-toggler {
  color: white !important;
  border-color: white !important;
}

.nav-link {
  font-size: 14px;
}

.start {
  font-size: 20px;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
}

.green {
  background-color: #1abc9c;
  color: white;
}

.text_green {
  color: #1abc9c;
}

.center {
  justify-content: center;
  align-items: center;
}

.border {
  justify-content: center;
  align-items: center;
  padding: 1rem;
  /*  border: 1px solid red; */
}

.left {
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid red;
}

.avatar {
  width: 30%;
}

.px-2 {
  padding: 2rem;
}

.linea {
  background-color: white;
  width: 200px;
  height: 3px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 50px;
}

.cont {
  width: 200px;
  height: 50px;
  margin: auto;
  color: white;
  align-items: center;
  justify-content: center;
}

.cont_blue {
  width: 200px;
  height: 50px;
  margin: auto;
  color: #2c3e50;
  align-items: center;
  justify-content: center;
}

.line {
  background-color: #2c3e50;
  width: 200px;
  height: 3px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 50px;
}

.copyright {
  color: white;
}

.pad {
  padding: 1rem;
}

.align {
  text-align: center;
  color: white;
}

.circle {
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 50px;
}

.icon {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.icon1 {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}
