.bg_col {
  background-color: rgb(127, 140, 255);
}

.bg_color {
  background-color: aquamarine;
  border: 1px solid black;
}

.center {
  text-align: center;
  display: flex;
}

.cen_ter {
  text-align: center;
  display: flex;
  text-transform: uppercase;
}

.flex {
  text-align: center;
}

h1 {
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#navbarNav {
  justify-content: end;
}

.bg_dark {
  background-color: #2c3e50;
}

.bg_light {
  background-color: #3a546d;
}

.blue {
  color: #2c3e50;
}

.nav-link,
.title {
  color: white !important;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-light,
.navbar-toggler {
  color: white !important;
  border-color: white !important;
}

.nav-link {
  font-size: 14px;
}

.start {
  font-size: 20px;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
}

.green {
  background-color: #1abc9c;
  color: white;
}

.text_green {
  color: #1abc9c;
}

.center {
  justify-content: center;
  align-items: center;
}

.border {
  justify-content: center;
  align-items: center;
  padding: 1rem;
  /*  border: 1px solid red; */
}

.left {
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid red;
}

.avatar {
  width: 30%;
}

.img {
  width: 80%;
  border-radius: 20px;
}

.separatore {
  display: flex;
}

.linea {
  width: 200px;
  border: 1px solid white;
}
