body {
  font-family: Arial, Helvetica, sans-serif;
}

.bg_color {
  border: 1px solid black;
}

.first,
.nav-link {
  background-color: #2c3e50;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.start {
  font-size: 20px;
}

.nav-link {
  font-size: 14px;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
}

.green {
  background-color: #1abc9c;
  color: white;
}

.center {
  justify-content: center;
  align-items: center;
}

.border {
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid red;
}

.pad {
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid red;
  text-align: center;
}

.pad_margin {
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0rem;
  border: 1px solid red;
  text-align: center;
}

.pad_text {
  justify-content: center;
  align-items: center;
  padding-left: 0.2rem;
  border: 1px solid red;
}

.left {
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid red;
}

.avatar {
  width: 30%;
}

.img {
  width: 80%;
  border-radius: 20px;
}
