h1 {
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.bg_dark {
  background-color: #2c3e50;
}

.bg_light {
  background-color: #3a546d;
}

.nav-link,
.title {
  color: white !important;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-light,
.navbar-toggler {
  color: white !important;
  border-color: white !important;
}

.nav-link {
  font-size: 14px;
}

.start {
  font-size: 20px;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
}

.green {
  background-color: #1abc9c;
  color: white;
}

.text_green {
  color: #1abc9c;
}

.center {
  justify-content: center;
  align-items: center;
}

.linea {
  background-color: white;
  width: 150px;
  height: 3px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 50px;
}

.line {
  background-color: #2c3e50;
  width: 150px;
  height: 4px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 50px;
}

.contacts .form-control {
  border: none;
  border-bottom: 1px solid lightgrey;
  border-radius: 0;
  margin-bottom: 0.2rem;
  color: black;
  padding: 0;
}

.copyright {
  color: white;
  height: 50px;
}

.jumbo {
  width: 200px;
}

.social i {
  padding: 1rem;
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 50%;
}
